# Node.js
node_modules/
.next/
out/
build/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
backend/anomaly_model.pkl

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
